<form method="POST" action="/gallery/{{gallery.id}}/edit?_method=PUT">
  <label>Author</label>
  <input type="text" name="author" value="{{gallery.author}}">
  <label>Link</label>
  <input type="text" name="link" value="{{gallery.link}}">
  <label>Description</label>
  <input type="text" name="description" value="{{gallery.description}}">
  <input type="hidden" name="_method" value="PUT">
  <div id="edit-button">
    <br>
    <button type="submit">Edit</button>
  </div>
</form>