<div class="header">

  <div id="header-title">
    <h1>_ARCHITEKT</h1>
  </div>

  <div id="header-blurb">
    <p>Welcome to our online portfolio. We are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps.</p>
  </div>

  <div id="header-img">
    <img src="https://c1.staticflickr.com/4/3016/2844476690_fa9e410462_b.jpg">
  </div>

</div>