<div class="error-message">
    {{message}}
</div>

<form action="/login" method="POST">
    <div class="login-info">
        <div id="user-info">
            <label>Username:</label>
            <input type="text" name="username"/>
        </div>
        <div id="pass-info">
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
    </div>
    <div id="sign-in-button">
        <br>
        <input type="submit" value="Sign In"/>
    </div>
</form>

<form action="/login/new" method="GET">
    <div class="buttons">
        <div id="new-user-button">
            <br>
            <input type="submit" value="New User"/>
        </div>
    </div>
</form>