<form method="POST" action="/gallery/new">
  Author
  <input type="text" name="author">
  Link
  <input type="text" name="link">
  Description
  <input type="text" name="description">
  <input type="hidden" name="_method" value="POST">
  <button type="submit">Submit</button>
</form>