<form method="POST" action="/gallery/new">
  <label>Author</label>
  <input type="text" name="author">
  <label>Link</label>
  <input type="text" name="link">
  <label>Description</label>
  <input type="text" name="description">
  <input type="hidden" name="_method" value="POST">
  <div id="post-button">
    <br>
    <button type="submit">Post</button>
  </div>
</form>