<form method="POST" action="/login/new">
  Username
  <input type="text" name="username">
  Password
  <input type="password" name="password">
  <input type="hidden" name="_method" value="POST">
  <div id="sign-up-button">
    <br>
    <button type="submit">Sign Up</button>
  </div>
</form>