<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/app.css">
  <meta charset="UTF-8">
  <title>Express Gallery</title>
</head>
<body>
  {{>header}}  
  {{{body}}} 
</body>
</html>