/**
 * Eric Meyer's CSS Reset + Nicolas Gallagher's Clearfix
 * https://github.com/reefat/css-reset
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

@media screen and (max-width: 500px) {
  html {
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 25px;
    padding-top: 25px; } }

@media screen and (max-width: 500px) {
  .header {
    display: flex;
    justify-content: center;
    height: 50px; } }

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
    padding-left: 15px; } }

@media screen and (max-width: 500px) {
  #header-title {
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    font-size: 40px;
    color: #7f7a80; } }

@media screen and (max-width: 500px) {
  #header-blurb {
    display: none; } }

@media screen and (max-width: 500px) {
  #header-img img {
    display: none; } }

@media screen and (max-width: 500px) {
  .galleries {
    padding-top: 15px; } }

@media screen and (max-width: 500px) {
  .photo {
    width: 350px;
    height: 200px;
    display: inline-block; } }

@media screen and (max-width: 500px) {
  .photo img {
    width: 100%;
    height: auto; } }

@media screen and (max-width: 1404px) {
  .column-photo {
    display: none; }
  .column-photo img {
    display: none; } }

@media screen and (min-width: 501px) {
  html {
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 50px;
    padding-top: 50px; }
  .header {
    border-top: 1px dotted #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    height: 500px;
    display: inline-block;
    padding-bottom: 30px; }
  #header-title, #header-blurb {
    padding: 10px; }
  #header-title {
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    font-size: 50px;
    color: #7f7a80;
    float: left;
    margin-left: 50px;
    padding: 25px; }
  #header-blurb {
    font-family: 'Special Elite', cursive;
    font-size: 15px;
    color: #8b939b;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    padding-top: 25px; }
  h1 {
    padding-right: 25px;
    border-right: 1px solid #c6c6c6; }
  .photo {
    width: 880px;
    height: 300px;
    display: inline-block; }
  .photo img {
    width: 100%;
    height: auto; }
  .modify-buttons {
    width: 1200px; }
  #edit-dir-button, #delete-button, #back-button {
    padding-left: 15px;
    margin-left: 10px; } }

#header-img {
  width: 900px;
  height: 300px;
  display: inline-block;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

#header-img img {
  width: 100%;
  height: auto;
  padding-bottom: 20px; }

.login-info {
  padding-top: 20px; }

#pass-info {
  padding-top: 5px; }

.container {
  display: flex;
  flex-flow: row wrap;
  margin-right: 15px;
  justify-content: center; }

.galleries {
  padding: 15px;
  display: flex;
  display: inline-block; }

.photos {
  width: 350px;
  height: 150px;
  display: inline-block; }

.photos img {
  width: 100%;
  height: auto; }

.photos-text {
  font-family: 'Architects Daughter', cursive;
  font-size: 15px;
  color: #8b939b;
  display: block; }

.gallery {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: inline-block; }

.photo-text {
  font-family: 'Architects Daughter', cursive;
  font-size: 15px;
  color: #8b939b;
  display: block; }

.buttons {
  display: flex;
  align-items: center;
  justify-content: center; }

#enter-button {
  padding: 20px; }

#edit-dir-button, #delete-button, #back-button {
  padding-left: 15px;
  margin-left: 10px; }

#logout-button {
  text-align: right; }

.column {
  display: flex;
  flex-direction: column;
  float: right;
  display: inline-block; }

.column-photo {
  width: 275px;
  height: 275px; }

.column-photo img {
  width: 100%;
  height: auto;
  padding-top: 15px; }

label {
  font-family: 'Architects Daughter', cursive; }

#enter-button input[type="submit"], #sign-in-button input[type="submit"], #new-user-button input[type="submit"] {
  font: 1em 'Architects Daughter', cursive;
  background-color: #8b939b; }

#new-button button[type="submit"], #logout-button button[type="submit"], #edit-dir-button button[type="submit"],
#delete-button button[type="submit"], #back-button button[type="submit"] {
  font: 1em 'Architects Daughter', cursive;
  background-color: #8b939b;
  color: white; }

#post-button button[type="submit"], #edit-button button[type="submit"] {
  font: 1em 'Architects Daughter', cursive;
  background-color: #8b939b; }
